body {
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background: fixed content-box center / cover no-repeat url("AI-background.jpg");
    font: 100 12pt Roboto, Arial, serif;
    color: #E8E8E8;
}

main {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

section {
    min-width: 55vw;
    padding: 15px 30px;
    background: rgba(0, 0, 0, .6);
    border-radius: 15px;
    text-align: center;
}

h1, h2 {
    font-weight: normal;
}

h1 {
    margin: 1.5ex;
    font-size: 60pt;
}

h2 {
    margin: 1ex;
    font-size: 48pt;
}

h3 {
    font-size: 18pt;
    font-weight: 100;
    margin: 1ex;
}

form {
    display: block;
}

form > div {
    margin-bottom: 1ex;
}

label {
    font-weight: normal;
    font-size: 100%;
}

input {
    background: none;
    border: none;
    border-bottom: 1px solid gray;
    padding: 0;
    margin: 0 2ex;
    font: normal 12pt Roboto, Arial, serif;
    color: #E8E8E8;
}

input:focus {
    border-bottom-color: white;
    outline: none;
    color: white;
}

button {
    padding: 1ex 2ex;
    width: 20ex;
    background: none;
    color: #E8E8E8;
    font-size: 100%;
    border: 1px solid gray;
    border-radius: 1ex;
    cursor: pointer;
}

button:hover:enabled {
    color: white;
    border-color: white;
    background: #444;
}

button:disabled {
    color: #444444;
    border-color: #444444;
}

p {
    margin: 0 0 .75ex 0;
}

footer {
    padding: 1ex;
}

.small {
    font-size: 10pt;
    font-weight: normal;
    color: silver;
}

.info {
    display: flex;
    justify-content: space-between;
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

[v-cloak] {
    display: none;
}